@import "_variables";
* {
  font-size: 20px;
}
.hidden {
  display: none !important;
}
.container {
  @extend %flexCenter;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  .title {
    font-size: 4rem;
    font-weight: 700;
    padding: 0.5rem;
  }
  #guessing-number {
    @extend %flexCenter;
    margin-bottom: 30px;
    font-size: 1.3rem;

    input {
      width: 50px;
    }
    p {
      margin-right: 5px;
    }
  }
  #input-number {
    @extend %flexCenter;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 600;
    & > * {
      margin: 5px;
    }
  }
}

.result {
  @extend %flexCenter;
  flex-direction: column;
  width: 100vw;
  margin-top: 30px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-size: 1.3rem;
  & > * {
    padding: 5px;
  }
  .result--message {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
